if SHIELD_LiNEA40_RIGHT
    config ZMK_KEYBOARD_NAME
        default "LiNEA40"
    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif

if SHIELD_LiNEA40_LEFT || SHIELD_LiNEA40_RIGHT
    config ZMK_SPLIT
        default y
endif

# DTSでの必須プロパティの厳密なチェックを無効化し、エラーを回避する
config DTS_USE_DEFAULTS
    bool "Allow DTS default properties to be used" # 型を明記
    default y
