#include "LiNEA40.dtsi"
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH>
        , <&xiao_d 8 GPIO_ACTIVE_HIGH>
        , <&xiao_d 7 GPIO_ACTIVE_HIGH>
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    /* 1. 通常移動・オートマウス用 */
    trackball_runtime_proc: trackball_runtime_proc {
        compatible = "zmk,input-processor-runtime";
        #input-processor-cells = <0>;
        processor-label = "Mouse";
        x-codes = <0x00>; // REL_X
        y-codes = <0x01>; // REL_Y
    };

    /* 2. スクロール切り替え用 */
    trackball_scroll_proc: trackball_scroll_proc {
        compatible = "zmk,input-processor-runtime";
        #input-processor-cells = <0>;
        processor-label = "Scroll";
        x-codes = <0x00>; // REL_X
        y-codes = <0x01>; // REL_Y
    };

    /* 修正点: ラベル v_trackball_listener を追加 */
    v_trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        status = "okay";
        input-processors = <&trackball_runtime_proc>, <&trackball_scroll_proc>;
    };
};

