#include "LiNEA40.dtsi"

&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH> //col0-D10
        , <&xiao_d 9 GPIO_ACTIVE_HIGH>  //col1-D9
        , <&xiao_d 8 GPIO_ACTIVE_HIGH>  //col2-D8
        , <&xiao_d 7 GPIO_ACTIVE_HIGH>  //col3-D7
        , <&gpio0 10 GPIO_ACTIVE_HIGH>  //col4-NFC2
        , <&gpio0 9 GPIO_ACTIVE_HIGH>   //col5-NFC1
        ;
};

&left_encoder {
   status = "okay";
};

/* ZMK StudioのRPC設定をシールドに直接追加 */
// 🚨 参照ノード名を &zephyr_udc_cdc_acm_uart に変更
&zephyr_udc_cdc_acm_uart {
    status = "okay"; 
};

/ {
    chosen {
        // 🚨 ZMK Studio は現在このノードを参照
        zmk,studio-rpc-uart = &zephyr_udc_cdc_acm_uart;
    };
};
