#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#undef ZMK_POINTING_DEFAULT_SCRL_VAL
#define ZMK_POINTING_DEFAULT_SCRL_VAL 600 

/* レイヤー定義 */
#define MOUSE 2
#define MARK 3
#define CURSOR 4
#define FUNCTION 5
#define SCROLL 6
#define WIRELESS 7

// OS設定変換定義
#define JP_DQUOTE       AT
#define JP_AMPERSAND    CARET
#define JP_QUOTE        AMPERSAND
#define JP_EQUAL        UNDER
#define JP_CARET        EQUAL
#define JP_YEN          0x89
#define JP_PLUS         COLON
#define JP_TILDE        PLUS
#define JP_PIPE         LS(0x89)
#define JP_AT           LEFT_BRACKET
#define JP_COLON        SINGLE_QUOTE
#define JP_ASTERISK     DOUBLE_QUOTES
#define JP_BACKQUOTE    LEFT_BRACE
#define JP_UNDERSCORE   LS(0x87)
#define JP_LBRACKET     RIGHT_BRACKET
#define JP_RBRACKET     BACKSLASH
#define JP_LPAREN       ASTERISK
#define JP_RPAREN       LEFT_PARENTHESIS
#define JP_LBRACE       RIGHT_BRACE
#define JP_RBRACE       PIPE
#define JP_KANA         LANGUAGE_1
#define JP_EISU         LANGUAGE_2
#define JP_HANZEN       GRAVE

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <20>;
    acceleration-exponent = <1>;
};

&msc {
    delay-ms = <0>;
    trigger-period-ms = <12>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <1>;
};

/* dtsiにあるラベルを使用してリスナーを設定 */
/* すでに right.overlay で device = <&trackball> が定義されているため、
   ここでは追加したい設定（status, input-processors 等）のみを記述します */
&trackball_listener {
    status = "okay";
    device = <&trackball>;

    /* 【修正】メインのプロセッサには「通常移動」の処理だけを書く */
    input-processors = 
        <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>, // Y軸反転
        <&zip_msl_speed_transformer 0 100>;          // オートマウス用

    /* オートマウス設定 */
    msl-layers = <2>;      
    msl-timeout-ms = <500>; 

    /* 【重要】スクロール切り替えはここだけで定義する */
    scroller {
        layers = <6>;      /* レイヤー6にいる時だけスクロールになる */
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    left_encoder_proc: left_encoder_proc {
        compatible = "zmk,behavior-runtime-sensor-rotate";
        #sensor-binding-cells = <0>;
    };

    combos {
        compatible = "zmk,combos";
        ZenkakuHankaku { bindings = <&kp GRAVE>; key-positions = <11 12>; };
        DeleteKey { bindings = <&kp DEL>; key-positions = <7 8>; };
        InsertKey { bindings = <&kp INS>; key-positions = <6 7>; };
        CenterClick { bindings = <&mkp MB3>; key-positions = <17 16>; };
        RightClick { bindings = <&mkp MB2>; key-positions = <18 17>; };
        PrevClick { bindings = <&mkp MB4>; key-positions = <27 28>; };
        ClickNext { bindings = <&mkp MB5>; key-positions = <26 27>; };
    };

    behaviors {
        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc SCRL_DOWN(300)>, <&msc SCRL_UP(300)>;
            tap-ms = <0>;
        };
        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp C_VOLUME_DOWN>, <&kp C_VOLUME_UP>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer_win {
            bindings = <
                &kp Q          &kp W          &kp E                &kp R    &kp T                                    &kp Y        &kp U     &kp I            &kp O        &kp P
                &kp A          &kp S          &kp D                &kp F    &kp G                                    &kp H        &kp J     &kp K            &kp L        &lt 6 MINUS
                &kp Z          &kp X          &kp C                &kp V    &kp B                                    &kp N        &kp M     &kp COMMA        &kp DOT      &mt RIGHT_SHIFT BACKSPACE
                &mt LCTRL ESC  &kp LEFT_WIN   &mt LEFT_ALT GRAVE  &kp INS  &lt 6 ENTER  &lt 3 TAB  &lt 3 BACKSPACE  &lt 5 SPACE            &lt 7 SEMICOLON  &kp INT_YEN  &mt RIGHT_SHIFT SLASH
            >;
            sensor-bindings = <&mouse_scrl 0 0>;
        };

        default_layer_mac {
            bindings = <
                &kp Q          &kp W          &kp E                &kp R    &kp T                                    &kp Y        &kp U     &kp I            &kp O        &kp P
                &kp A          &kp S          &kp D                &kp F    &kp G                                    &kp H        &kp J     &kp K            &kp L        &lt 6 MINUS
                &kp Z          &kp X          &kp C                &kp V    &kp B                                    &kp N        &kp M     &kp COMMA        &kp DOT      &mt RIGHT_SHIFT BACKSPACE
                &mt LCTRL ESC  &kp LEFT_COMMAND &mt LEFT_ALT GRAVE &kp INS  &lt 6 ENTER  &lt 3 TAB  &lt 3 BACKSPACE  &lt 5 SPACE            &lt 7 SEMICOLON  &kp INT_YEN  &mt RIGHT_SHIFT SLASH
            >;
            sensor-bindings = <&mouse_scrl 0 0>;
        };

        MOUSE {
            bindings = <
                &trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans                    &trans  &mkp MB1  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans            &trans  &trans  &trans
            >;
            sensor-bindings = <&mouse_scrl 0 0>;
        };

        MARK {
            bindings = <
                &kp EXCLAMATION             &kp AT            &kp HASH         &kp DOLLAR     &kp PERCENT                                          &kp CARET     &kp AMPERSAND  &kp ASTERISK           &kp LEFT_PARENTHESIS  &kp LBKT
                &kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp SEMICOLON  &kp SEMICOLON                                        &kp C_MUTE    &kp LS(LBKT)   &kp RIGHT_BRACKET      &kp BACKSLASH         &kp EQUAL
                &mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp APOS       &kp SQT                                              &kp KP_EQUAL  &kp INT3       &kp LS(RIGHT_BRACKET)  &kp LS(BACKSLASH)     &kp LS(INT1)
                &trans                      &trans            &trans            &trans         &trans         &trans          &trans                &trans                       &kp ASTERISK           &kp LEFT_PARENTHESIS  &kp LS(QUESTION)
            >;
            sensor-bindings = <&re_kp 0 0>;
        };

        CURSOR {
            bindings = <
                &trans    &kp LC(LG(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LG(RIGHT_ARROW))  &trans                       &kp KP_MULTIPLY  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_PLUS
                &trans    &kp LEFT_ARROW          &kp DOWN      &kp RIGHT_ARROW          &trans                       &kp KP_SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS
                &kp HOME  &kp PAGE_DOWN           &kp END       &kp PAGE_UP              &trans                       &kp UNDER        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
                &trans    &trans                  &trans        &trans                   &trans  &trans    &kp ENTER  &kp NUMBER_0                   &kp DOT       &kp ENTER     &kp QUESTION
            >;
            sensor-bindings = <&mouse_scrl 0 0>;
        };

        FUNCTION {
            bindings = <
                &kp F1  &kp F2  &kp F3  &kp F4   &kp F5                       &trans      &trans  &kp LA(PRINTSCREEN)  &trans  &kp LC(LA(DELETE))
                &kp F6  &kp F7  &kp F8  &kp F9   &kp F10                      &trans      &trans  &kp LS(LG(S))        &trans  &kp LC(LS(ESCAPE))
                &trans  &trans  &trans  &kp F11  &kp F12                      &kp C_MUTE  &trans  &trans               &trans  &kp LC(LA(INS))
                &trans  &trans  &trans  &trans   &trans   &trans   &trans   &trans              &trans               &trans  &trans
            >;
            sensor-bindings = <&mouse_scrl 0 0>;
        };

        SCROLL {
             bindings = <
                &trans    &kp LC(LG(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LG(RIGHT_ARROW))  &trans                       &kp KP_MULTIPLY  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_PLUS
                &trans    &kp LEFT_ARROW          &kp DOWN      &kp RIGHT_ARROW          &trans                       &kp KP_SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS
                &kp HOME  &kp PAGE_DOWN           &kp END       &kp PAGE_UP              &trans                       &kp UNDER        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
                &trans    &trans                  &trans        &trans                   &trans  &trans    &trans  &kp NUMBER_0                   &kp NUMBER_0  &kp DOT       &kp QUESTION
            >;
            sensor-bindings = <&mouse_scrl 0 0>;
        };

        WIRELESS {
            bindings = <
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                   &trans &trans &trans &trans &trans
                &trans        &trans        &trans        &trans        &trans                         &trans &trans &trans &trans &trans
                &trans        &trans        &trans        &trans        &trans                         &trans &trans &trans &trans &bt BT_CLR
                &trans        &trans        &trans        &trans        &trans        &trans  &trans &trans        &trans &trans &bt BT_CLR_ALL
            >;
        };
    };
};
