#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "keycode_jp.h"

#define MOUSE 1
#define MARK 2
#define CURSOR 3
#define FUNCTION 4
#define SCROLL 5
#define WIRELESS 6

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LEFT_BRACKET     RIGHT_BRACKET     // [
#define JP_RIGHT_BRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

//mouse cursol

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

//mouse scroll

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

 //==========Input Processor利用挑戦========
&mkp_input_listener {
    input-processors = <&zip_temp_layer 2 250>;
};

 //==========Input Processor利用挑戦========

&msc_input_listener {
    speed_up {
        layers = <FUNCTION>;
        input-processors = <&zip_wheel_scaler 3 1>; //スクロールを3倍速にする
    };
};

&trackball_listener {
    scroller {
        layers = <SCROLL>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            //スクロール方向を逆転,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
            <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        DeleteKey {
            bindings = <&kp DEL>;
            key-positions = <8 7>;
        };

        InsertKey {
            bindings = <&kp INS>;
            key-positions = <6 7>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <18 17 16>;
        };

        PrevClick {
            bindings = <&mkp MB4>;
            key-positions = <16 17>;
        };

        ClickNext {
            bindings = <&mkp MB5>;
            key-positions = <17 18>;
        };

        back {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        screenshot {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <4 3>;
        };

        emoji {
            bindings = <&kp LG(PERIOD)>;
            key-positions = <3 1>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <1 0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        EN {
            bindings = <&kp LANG2>;
            key-positions = <12 13>;
        };

        JP {
            bindings = <&kp LANG1>;
            key-positions = <22 23>;
        };

        katakana {
            bindings = <&kp LANG3>;
            key-positions = <23 24>;
        };
    };

    behaviors {
        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        /*  Input Processor利用挑戦 */
        tog_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        mt_exit_AML_on_tap: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_exit_AML_ON_TAP";
            bindings = <&kp>, <&kp_exit_AML>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
        };

    };

    /* ---------------------------------------------------------------------- */
    /* 日本語入力用カスタムマクロ定義 (視認性を優先し、エラー箇所のみ略称化) */
    /* ---------------------------------------------------------------------- */
    /* ---------------------------------------------------------------------- */
    /* 日本語入力用カスタムマクロ定義 (ビルド成功を優先し全て略称ラベルを使用) */
    /* ---------------------------------------------------------------------- */

    macros {
        /*  Input Processor利用挑戦 */
        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&tog_off MOUSE>;
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;
            label = "KP_exit_AML";
        };


        /* " (ダブルクォート) | US: Shift + 2 */

        j_dq: j_dq {
            label = "DQ";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N2)>;
        };

        /* & (アンパサンド) | US: Shift + 6 */

        j_amp: j_amp {
            label = "AMP";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6)>;
        };

        /* ' (シングルクォート) | US: Shift + 7 */

        j_sq: j_sq {
            label = "SQ";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N7)>;
        };

        /* = (イコール) | US: Shift + - */

        j_eq: j_eq {
            label = "EQ";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(MINUS)>;
        };

        /* ^ (ハット/キャレット) | US: \ (Backslash) */

        j_caret: j_cr {
            label = "CARET";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>;
        };

        /* ¥ (円マーク/バックスラッシュ) | US: INT1 */

        j_yen: j_yen {
            label = "YEN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT1>;
        };

        /* + (プラス) | US: ; (Semi-colon) */

        j_plus: j_plus {
            label = "PLUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON>;
        };

        /* ~ (チルダ) | US: Shift + = */

        j_tilde: j_tilde {
            label = "TILDE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PLUS>;
        };

        /* | (パイプ) | US: Shift + INT1 (¥) */

        j_pipe: j_pipe {
            label = "PIPE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(INT1)>;
        };

        /* @ (アットマーク) | US: [ (Left Bracket) */

        j_at: j_at {
            label = "AT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT>;
        };

        /* : (コロン) | US: ' (Single Quote) */

        j_colon: j_colon {
            label = "COLON";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT>;
        };

        /* * (アスタリスク) | US: Shift + ' */

        j_ast: j_ast {
            label = "AST";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SQT)>;
        };

        /* ` (バッククォート) | US: Shift + ] */

        j_bt: j_bt {
            label = "BT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(RBKT)>;
        };

        /* _ (アンダースコア) | US: Shift + INT1 (¥) */

        j_under: j_under {
            label = "UNDER";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(INT1)>;
        };

        /* [ (左角括弧) | US: ] (Right Bracket) */

        j_lbkt: j_lbkt {
            label = "L_BKT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RBKT>;
        };

        /* ] (右角括弧) | US: Shift + [ */

        j_rbkt: j_rbkt {
            label = "R_BKT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH>;
        };

        /* ( (左丸括弧) | US: Shift + 8 */

        j_lp: j_lp {
            label = "L_PAREN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ASTRK>;
        };

        /* ) (右丸括弧) | US: Shift + 9 */

        j_rp: j_rp {
            label = "R_PAREN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>;
        };

        /* { (左波括弧) | US: Shift + [ (Left Bracket) */

        j_lbrc: j_lbrc {
            label = "L_BRACE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACE>;
        };

        /* } (右波括弧) | US: Shift + \ (Backslash) */

        j_rbrc: j_rbrc {
            label = "R_BRACE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(BSLH)>;
        };
    };

    /* ZMK標準の日本語入力切り替えキー（マクロ化不要） */

    behaviors {
        // キーバインディングとして直接利用します。
        // &kp KANA
        // &kp EISU
        // &kp GRAVE
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer_win {
            bindings = <
&kp Q             &kp W         &kp E         &kp R  &kp T                                  &kp Y        &kp U  &kp I           &kp O                &lt 6 P
&kp A             &kp S         &kp D         &kp F  &kp G                                  &kp H        &kp J  &kp K           &kp L                &lt 5 BACKSPACE
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C  &kp V                                  &kp B        &kp N  &kp M           &mt LESS_THAN COMMA  &mt GREATER_THAN PERIOD
&kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_ALT  &none  &lt 7 LANG2  &kp LCTRL    &lt 4 ENTER  &lt 3 SPACE         &lt 7 QUESTION  &j_at                &kp MINUS
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        default_layer_mac {
            bindings = <
&kp Q             &kp W         &kp E               &kp R  &kp T                                  &kp Y        &kp U  &kp I                &kp O                    &lt 6 P
&kp A             &kp S         &kp D               &kp F  &kp G                                  &kp H        &kp J  &kp K                &kp L                    &lt 5 MINUS
&kp Z             &kp X         &kp C               &kp V  &kp B                                  &kp N        &kp M  &mt LESS_THAN COMMA  &mt GREATER_THAN PERIOD  &mt QUESTION SLASH
&kp LEFT_CONTROL  &kp LEFT_WIN  &mt LEFT_ALT GRAVE  &none  &lt 5 ENTER  &lt 3 TAB    &lt 3 SPACE  &lt 4 ENTER         &lt 6 QUESTION       &kp BACKSLASH            &j_under
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &mkp LCLK  &mkp RCLK  &mkp RCLK  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &mkp MCLK  &mkp MCLK  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans             &trans     &trans     &trans
            >;
        };

        MARK {
            bindings = <
&kp EXCLAMATION  &j_dq            &kp HASH  &kp DOLLAR  &kp PERCENT                    &j_amp    &j_sq          &j_under   &j_eq   &j_yen
&kp SLASH        &kp KP_NUMBER_4  &j_lbrc   &j_lbkt     &j_lp                          &j_plus   &kp QUESTION   &kp MINUS  &j_at   &trans
&kp LEFT_SHIFT   &kp KP_NUMBER_1  &j_rbrc   &j_rbkt     &j_rp                          &j_caret  &kp SEMICOLON  &j_colon   &j_ast  &kp SLASH
&trans           &trans           &trans    &trans      &trans       &trans    &trans  &trans                   &kp SLASH  &trans  &trans
            >;

            sensor-bindings = <&re_kp LC(K_SCROLL_DOWN) LC(C_AC_SCROLL_UP)>;
        };

        NUMBER {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                              &kp NUMBER_6            &kp N7              &kp N8                   &kp N9  &kp N0
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5                              &kp LG(LS(LEFT_ARROW))  &kp LG(UP_ARROW)    &kp LG(LS(RIGHT_ARROW))  &kp F9  &kp F10
&kp F6        &kp F7        &kp F8        &trans        &trans                              &kp LG(LEFT_ARROW)      &kp LG(DOWN_ARROW)  &kp LG(RIGHT_ARROW)      &trans  &trans
&trans        &trans        &trans        &trans        &kp INT_MUHENKAN  &trans    &trans  &trans                                      &trans                   &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp LS(K_SCROLL_DOWN) LS(K_SCROLL_UP)>;
        };

        SCROLL {
            bindings = <
&trans          &kp LC(LG(LEFT_ARROW))  &kp LG(UP_ARROW)  &kp LC(LG(RIGHT_ARROW))  &trans                    &kp KP_MULTIPLY  &kp NUMBER_7  &kp NUMBER_8    &kp NUMBER_9    &kp KP_PLUS
&trans          &kp LG(LEFT_ARROW)      &kp LG(DOWN)      &kp LG(RIGHT_ARROW)      &trans                    &kp KP_SLASH     &mkp LCLK     &mkp RCLK       &mkp RCLK       &kp KP_MINUS
&kp LEFT_SHIFT  &kp PAGE_DOWN           &kp END           &kp PAGE_UP              &trans                    &kp UNDER        &mkp MCLK     &mkp MCLK       &kp UP_ARROW    &kp ENTER
&trans          &trans                  &trans            &trans                   &trans  &trans    &trans  &kp NUMBER_0                   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        WIRELESS {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                         &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans
&trans        &trans        &trans        &trans        &trans                               &trans          &trans        &trans        &trans        &trans
&trans        &trans        &trans        &trans        &trans                               &trans          &trans        &trans        &trans        &bt BT_CLR
&trans        &trans        &trans        &trans        &trans        &trans    &bootloader  &studio_unlock                &trans        &trans        &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };

        CURSOR {
            bindings = <
&trans          &kp LC(LG(LEFT_ARROW))  &kp LG(UP_ARROW)  &kp LC(LG(RIGHT_ARROW))  &trans                    &trans  &trans  &kp PG_DN       &kp UP_ARROW    &kp PG_UP
&trans          &kp LG(LEFT_ARROW)      &kp LG(DOWN)      &kp LG(RIGHT_ARROW)      &trans                    &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
&kp LEFT_SHIFT  &trans                  &trans            &trans                   &trans                    &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
&trans          &trans                  &trans            &trans                   &trans  &trans    &trans  &trans          &trans          &kp HOME        &kp END
            >;
        };
    };
};
